*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    position: relative;
    height: 115vh;
    overflow-x: hidden;
}
#facebook {
    
    color: blue;
   margin-top: 90px;
   margin-left: 200px;
   font-size: 30px;
}
 #login,#dis {
    font-weight: normal;
   margin-top: 10px;
   margin-left: 200px;
   position: relative;
}
/*#dis {
    margin-top: 1px;
    margin-left: -680px;
    color: rgb(200, 194, 192);

}*/
div{

    width: 150px;
    min-height: 200px; 
    background-color: white;
    border: 1px solid #eeeff0;
    float: left;
    margin-left: 200px;
    margin-top: 50px;
     border-radius:10px;
     border-top-left-radius: 10px;
    position: relative;
    display:inline-block;
    }
    #pp {
        margin-left: 20px;
        margin-top: 14px;
    }
    img {
        width: 100%;
    }
   
    img {
        width: 100%;
    }
    p{
        text-align: center;
        padding-top: 5px;
    }
    #add {
        color: rgb(102, 102, 194);
    }
    div:hover {
        transform: 0.5;
        cursor: pointer;
        box-shadow: 0 8px 16px rgba(0, 0, 00, 0.2);
    }
    #cancel {
        position: absolute;
        left: 8px;
        height: 20px;
        width: 20px;
        background-color: rgb(63, 63, 62);
        border-radius: 50%;
        text-align: center;
        color: white;
        top:5px;
        opacity: 0.5;
    }
    #cancel:hover {
        transform: scale(1.2);
        background-color: white;
        color: rgb(194, 193, 193);
        opacity: 1;
    }
    #two {
        background-color: #ffffff;
        margin-top: -70px;
        margin-left: 250px;
        height: 300px;
        width: 400px;
        position: absolute;
        border: none #eeeff0;
        
    }
    #two {
        box-shadow: 0 8px 16px rgba(0, 0, 00, 0.2);

    }
    input:active {
        border: none;
    }
    input {
        padding: 10px;
        margin: 10px 10px 10px 5px;
        width: 95%;
        height: 35%;
        border-radius: 5px;
        border: 1px solid #eeeff0;
    }
    #log {
        background-color: rgb(47, 47, 173);
        color:#ffffff;
        font-size: large;
    }
    a {
        text-decoration: none;
        margin-left: 130px;
        font-size: 15px;
    }

    hr {
        width: 95%;
        height: 0.1%;
        background-color: rgb(194, 193, 193);
        border: none;
        margin-left: 5px;
        margin-top: 20px;
    }
    #button {
        color: #ffffff;
        background-color: rgb(18, 211, 18);
        width: 200px;
        height: 50px;
        margin-top: 2px;

        margin-left: 100px;
        font-size: 18px;
        font-weight: 100;
    }
    #log,#button,a:hover {
        cursor: pointer;
    }